* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* body style start */
body {
    color: #23d2ef;
}
/* body style end */

/* header style start */
header {
    z-index: 9999;
    background-image: url("../images/portfoliobg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    }
/* header style ends*/

/* header span style start */
header span {
  padding: 30px;
  padding-top: 300px;
  background: palevioletred;
  color: lightpink;
  border-radius: 70%;
  text-shadow: none;
  box-shadow: 0 0 70px rgba(182, 44, 80, 1);
}
/* header span style ends */

/* header anchor style starts */
header a {
  text-decoration: none;
  color: var(--primary-color);
}
/* header anchor style ends */

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--white);
  margin: 15px 70px;
  text-shadow: 0 0 10px rgba(85, 91, 110, 0.5);
}

/* apply lightseagreen color to header hr anchors and removes link decorations */
header h1 a {
    font-weight: bold;
    font-size: 36px;
    color: lightseagreen;
    margin: 0;
    text-decoration: none;
  }

/* header nav style starts */
header nav {
    margin: 7px 0;
  }
/* header nav style ends */

/* header nav unordered lists style start */
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
/* header nav unordered lists style end */

/* apply style to header nav list anchors */
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

/* contact style start */
.contact {
  background: var(--secondary-color);
}
/* contact style end */

/* contact h2 style start */
.contact h2 {
  color: var(--primary-color);
}
/* contact h2 style end */

/* contact-info style start */
.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* contact-info style end */

/* contact-info div style start */
.contact-info div {
  color: white;
}
/* contact-info div style end */

.contact-info h3 {
  color: var(--primary-color);
  font-size: 32px;
}

.contact-info p, .contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
}

.contact-info a {
  color: var(--primary-color);
}

/* flex-row style start */
.flex-row {
  display: flex;
}
/* flex-row style end */

/* hero style start */
.hero {
  height: 400px;
    background-image: url("../images/portfoliobg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start
    }
  /* hero style end */

  .intro {
    text-align: left;
    margin-top: 20px;
  }*/
  
  
  /* intro p style start */
  .intro p {
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
  }
  /* intro p style end */
  
  /* steps style start */
  .steps { 
    background: var(--primary-color);
  }
  /* steps style end*/
  
  /* section-title, primary-border, secondary-border declarations remove duplication in intro h2 and steps h2 sections */
  .section-title {
    font-size: 48px;
    color: var(--secondary-color);
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 200px -60px 35px auto;
    width: 50%;
    transform: rotate(-90deg);
      /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }
  
  .primary-border {
    border-color: var(--primary-color);
  }
  
  .secondary-border {
    border-color: var(--tertiary-color);
  }
  
  /* START OF STEP STYLE */
  .step {
    margin: 50px auto;
    padding-bottom: 50px;
    border-bottom: 1px solid var(--tertiary-color);
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  /* STYLE TESTING */
  .grid-container {
    rotate: -90deg;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px 8px;
    grid-template-areas: "About-Me About-Body . ." ". . . ." ". . . .";
  }
  
  .About-Me { grid-area: About-Me; }
  
  .About-Body { grid-area: About-Body; }
  /* STYLE TESTING END */