* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* body style start */
body {
  color: #27671a;
}
/* body style end */

/* header style start */
header {
  z-index: 999;
  background-image: url("../images/portfoliobg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  padding: 20px 35px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
/* header style ends*/

/* header span style start */
header span {
  padding: 30px;
  padding-top: 300px;
  background: palevioletred;
  color: lightpink;
  border-radius: 70%;
  text-shadow: none;
  box-shadow: 0 0 70px rgba(182, 44, 80, 1);
}
/* header span style ends */

/* header anchor style starts */
header a {
  text-decoration: none;
  color: var(--primary-color);
}
/* header anchor style ends */

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--white);
  margin: 15px 70px;
  text-shadow: 0 0 10px rgba(85, 91, 110, 0.5);
}

/* apply lightseagreen color to header hr anchors and removes link decorations */
header h1 a {
  font-weight: bold;
  font-size: 36px;
  color: #d4b64a;
  margin: 0;
  text-decoration: none;
}

/* header nav style starts */
header nav {
  margin: 7px 0;
}
/* header nav style ends */

/* header nav unordered lists style start */
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
/* header nav unordered lists style end */

/* apply style to header nav list anchors */
header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* apply style to header nav list anchor button on hover */
header nav ul li a:hover {
  background: #FFFFF;
  color: #eeeeee;
  border-radius: 15px;
  text-shadow: none;
}

/* apply style to the footer */
footer {
  background: #061004;
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* apply style to the footer h2 */
footer h2 {
  color: #d4b64a;
  font-size: 30px;
  margin: 0;
}

/* apply style to the footer div */
footer div {
  line-height: 1.5;
  text-align: right;
}

/* apply style to the footer a */
footer a {
  color: color: #d4b64a;
}

/* hero style start */
.hero {
  height: 450px;
  background-image: url("../images/portfoliobg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* Hero-cta style start */
.hero-cta {
  width: 35%;
  text-align: right;
  margin: 3.5%;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  visibility: hidden;
}

.hero-cta h2 {
  font-style: italic;
  font-size: 55px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  visibility: hidden;
}
/* Hero-cta style end*/

/* Hero-form Style Start */
.hero-form {
  border: solid 3px #1a2104;
  background-color: rgb(255, 255, 255); opacity: 80%;
  border-radius: 15px;
  padding: 20px;
  color: #3e1818;
  width: 40%;
  margin: 330px 40px 35px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* Hero-form Style End */

/* hero style end */

.section-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 22px;
  text-align: center;
}

.section-title h3 {
  margin-top: 50px;
  height: 100%;
  float: left;
  /*writing-mode: vertical-rl;*/
}

.section-text {
  width: 75%;
  display: inline-block;
  margin-left: 300px;
}

/* work section start */ 
.portfolio {

}

.portfolio-show {

}

.portfolio-show h3 {

}
/* work section end */

/* PROJ CONTAINER SECTION START */
.proj-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 1.1fr 0.9fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  gap: 7px 8px;
  grid-template-areas: "Proj1 Proj1 Proj2 Proj2 Proj2 Proj3 Proj3" "Proj1 Proj1 Proj2 Proj2 Proj2 Proj3 Proj3" "Proj5 Proj5 Proj4 Proj4 Proj6 Proj6 ." "Proj8 Proj8 Proj4 Proj4 . Proj7 Proj7" "Proj8 Proj8 Proj4 Proj4 Proj8 Proj8 .";
}

.Proj1 { grid-area: Proj1; }

.Proj2 { grid-area: Proj2; }

.Proj3 { grid-area: Proj3; }

.Proj4 { grid-area: Proj4; }

.Proj5 { grid-area: Proj5; }

.Proj6 { grid-area: Proj6; }

.Proj7 { grid-area: Proj7; }

.Proj8 { grid-area: Proj8; }

.Proj8 { grid-area: Proj8; }
/* GRID CONTAINER SECTION END */

@media all and (-ms-high-contrast:none) {
  .grid-container {
    display: -ms-grid;
    -ms-grid-columns: repeat(4, 1fr) 1.1fr 0.9fr 1fr;
    -ms-grid-rows: repeat(5, 1fr);
  }

  .Proj1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  .Proj2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
  }

  .Proj3 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 6;
    -ms-grid-column-span: 2;
  }

  .Proj4 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
  }

  .Proj5 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  .Proj6 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
  }

  .Proj7 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 6;
    -ms-grid-column-span: 2;
  }

  .Proj8 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  .Proj8 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
  }

}